## --- SECRETOS Y CONFIGURACIÓN LOCAL ---
appsettings.Development.json
appsettings.json

## --- CARPETAS DE COMPILACIÓN ---
[Bb]in/
[Oo]bj/
bin\Debug/
obj\Debug/
bin\Release/
obj\Release/

## --- VISUAL STUDIO / RIDER ---
.vs/
.idea/
*.user
*.suo

## --- SISTEMA OPERATIVO ---
Thumbs.db
.DS_Store